.inputContainer {
  position: relative;
  margin-bottom: 1rem;
}

.inputField {
  font-size: 1rem;
  padding: 0.7rem;
  width: 100%;
  height: 100%;
  border: none;
  border: 2px solid #ccc;
  border-radius: 12px;
  transition: border-color 0.2s ease-in-out;
  background-color: transparent;
  margin-top: 12px;
}

.inputField:focus {
  outline: none;
  border-color: #333333;
}

.inputLabel {
  position: absolute;
  top: calc(0.75rem + 22px);
  transform: translateY(-50% );
  left: 12px;
  font-size: 1rem;
  color: #ccc;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.active {
  top: calc(0.58rem + 12px);
  font-size: 0.75rem;
  color: #333333;
  background-color: #FFFFFF;
}
